.header {
  background-color: #474f85;
  padding: 4rem;
}

.courses-container-list {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-light.disabled, .btn-light:disabled {
  cursor: not-allowed;
}

.box-card {
  border: 1px solid #f3f9fb;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}